[submodule "externalDependencies/googletest"]
	path = externalDependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "externalDependencies/hiredis"]
	path = externalDependencies/hiredis
	url = https://github.com/redis/hiredis.git
